<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href={% static 'lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet" media="screen">
  <title>login</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            font-family: 'Open Sans', sans-serif;
           background-image: url("../static/img/login.jpg");
        }
        .row{ margin:0 auto; width:480px; height:100px;}
        h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
        .form-control{
            width: 330px;
        }

    </style>
</head>
<body>
<div class="container" style='margin-top: 200px;'>
  <div class="row">
  <div style="border: solid 1px silver;border-radius: 5px;">
    <form action="{% url 'login' %}" method="post" novalidate class="form-horizontal" style="margin-top: 20px">
        <h1 style="color: #ac5dff;padding-bottom: 10px">Login</h1>
        {% if error_msg %}
            <div class="alert alert-warning" style="margin-bottom: 5px">{{ error_msg }}</div>
        {% endif %}
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form_obj.username.id_for_label }}" class="col-md-2 control-label" style="color:black">{{ form_obj.username.label }}</label>
        <div class="col-md-10">
          {{ form_obj.username }}
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form_obj.pwd.id_for_label }}" class="col-md-2 control-label" style="color: white">{{ form_obj.pwd.label }}</label>
        <div class="col-md-10">
          {{ form_obj.pwd }}
           <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10" style="margin-left: 200px">
          <button type="reset" value="重置按钮"class="btn btn-default">重置</button>
          <button type="submit" class="btn btn-danger">登录</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<script src="{% static "lib/jquery-3.2.1.min.js" %}"></script>
<script src={% static "lib/bootstrap/js/bootstrap.min.js" %}></script>
</body>
</html>