{% extends "base1.html" %}

{% block info %}
    <div class="span8">
        <div class="input-group" style="padding-top: 15px">
            <input type="text" class="form-control" id="cas" style="height: 25px;width: 100px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;float: left;margin-right: 5px" placeholder="请输入CAS号">
            <input type="text" class="form-control" id="year" style="height: 25px;width: 100px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;float: left;margin-right: 5px" placeholder="请输入开始年限">
            <input type="text" class="form-control" id="start" style="height: 25px;width: 100px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;float: left;margin-right: 5px" placeholder="请输入开始月份">
            <input type="text" class="form-control" id="end" style="height: 25px;width: 100px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;float: left;margin-right: 5px" placeholder="请输入结束月份">{% csrf_token %}
            <button class="el-btn btn-danger" type="button" id="btn" style="height: 35px;border-radius: 5px;"><i class="bi bi-search" style="font-size: 1rem; color: white;padding: 5px"></i>开始搜索</button>
            <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="height: 35px">批量搜索</button>
            <button class="btn btn-info btn-lg" style="height: 35px;border-radius: 5px;">
                <input type="checkbox" class="form-check-input" value="" id="pm">百度排名
            </button>
            <button class="el-btn btn-info" type="submit" id="load" onclick ="DownloadBtn()" value="Download" style="height: 35px;border-radius: 5px;">下载文件</button>
        </div><!-- /input-group -->
    </div>

    <div class="span12">
        <table class="table table-striped" style="background-color: white;height: 100%">
            <thead>
            <tr>
                {#        标题#}
            </tr>
            </thead>
            <tbody>
            {#          占位#}
            </tbody>
        </table>
    </div>

    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        批量搜索，每行一CAS号
                    </h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control_1" id="deblock_udid" name="deblock_udid" rows="16" style="min-width: 90%;width: 600px; height: 320px; resize: vertical"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-danger" id="m_search">
                        搜索
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block script %}
    function DownloadBtn(){
         var cas = $('#cas').val()
         var year = $("#year").val();
         var start = $("#start").val();
         var end = $("#end").val();
         var form_data = new FormData();
         form_data.append('cas', cas);
         form_data.append('year',year);
         form_data.append('start',start);
         form_data.append('end',end);

            console.log(form_data)
            $.ajax({
                     url:'/app/api/ajax_cas_download/',
                     type:'POST',
                     data: form_data,
                     processData: false,
                     contentType: false,
                    beforeSend: function () {
                                // 禁用按钮防止重复提交
                                $("h4").text("正在下载...")
                                $("#load").attr('disabled','disabled');
                        },
                     success: function(data) {
                         console.log('OK')
                        console.log(data)
                         open("/app/api/ajax_cas_download?file_name="+ data)
                     },
                    complete: function () {
                                $("#load").removeAttr("disabled");
                                $("h4").text("Success!")
                                alert("下载成功...")
                        },
                     error: function(data) {
                        console.log(data)
                        alert("error")
                        }
            });
     }



    flag=false
    $('#pm').click(function(){
        flag =$(this).is(':checked');
    });
    console.log(flag)

    $(document).ready(function(){
        $("#btn").click(function () {
            $("thead").empty();
            $("tbody").empty();
            var cas = $("#cas").val();
            var year = $("#year").val();
            var start = $("#start").val();
            var end = $("#end").val();
            console.log(cas);
            console.log(year);
            console.log(start);
            console.log(end);
            if(!flag){
                console.log(cas);
                if(cas!=""&&cas!=null){
                    $.ajax({
                        type: 'POST',
                        url:"/app/api/totals/",
                        data:{"cas":cas,"year":year,"start":start,"end":end},
                        beforeSend: function () {
                                // 禁用按钮防止重复提交
                                $("h4").text("正在查询...")
                                $("#btn").attr('disabled','disabled');
                            },
                        success: function (data) {
                                console.log(data);
                                content = [];
                                head="<tr>\n" +
                                     "<th>编号</th>\n" +
                                    "<th>CAS</th>\n" +
                                    "<th>平台点击量</th>\n" +

                                    "</tr>";

                                for(var i=0;i<data.length;i++){
                                    if(data[i].status==200){
                                        html ="<tr>"+"<td>"+(i+1)+"</td>"+"<td class='cas'>"+data[i].keyword+"</td>"+"<td class='total'>"+data[i].total+"</td>"+"</tr>";
                                        content.push(html)
                                    }else {
                                        alert(data[0].message)
                                    }
                                }
                                if(content.length>0){
                                    console.log(content)
                                    $("thead").html(head);
                                    $("tbody").html(content.join("\n"));
                                    console.log(content.join("\n"))
                                } else {
                                    console.log(content.length);
                                    alert("没有查询到数据")
                                }
                        },
                        complete: function () {
                                    $("#btn").removeAttr("disabled");
                                    $("h4").text("Success!")
                                    alert("查询成功！")
                            },
                    })
                }else {
                    alert("输入为空！")
                }
            }
        });

    });

    $("#m_search").click(function () {
        datas = $('.form-control_1') .val()
        console.log(datas)
        if(datas!=""&&datas!=null){
            $.ajax({
                type: 'POST',
                url:"/app/api/m_totals/",
                data:{"data":datas},
                beforeSend: function () {
                    // 禁用按钮防止重复提交
                    $("h4").text("正在查询...")
                    $("#m_search").attr('disabled','disabled');
                },
                success: function (data) {
                    console.log(data)
                    content = [];
                    head="<tr>\n" +
                             "<th>编号</th>\n" +
                            "<th>CAS</th>\n" +
                            "<th>点击量</th>\n" +
                            "</tr>";

                    for(var i=0;i<data.length;i++){
                        if(data[i].status==200){

                                html ="<tr>"+"<td>"+(i+1)+"</td>"+"<td class='cas'>"+data[i].cas+"</td>"+"<td class='total'>"+data[i].total+"</td>"+"</tr>";
                                content.push(html)
                        }
                    }
                    if(content.length>0){
                        console.log(content)
                        $("thead").html(head);
                        $("tbody").html(content.join("\n"));
                        console.log(content.join("\n"))
                    } else {
                        console.log(content.length);
                        alert("没有查询到数据")
                    }
                },
                complete: function () {
                        $("#m_search").removeAttr("disabled");
                        $("h4").text("Success!")
                        alert("查询成功！")
                },
            })

        }else{
            alert(" 请输入内容")
        }
    })

    $("#btn").click(function () {
            $("thead").empty();
            $("tbody").empty();
            var cas = $(".form-control").val();
            if(flag){
                console.log(cas);
                if(cas!=""&&cas!=null){
                    $.ajax({
                        type:"POST",
                        url:"/app/api/pm_totals/",
                        data:{"cas":cas},
                        beforeSend: function () {
                            // 禁用按钮防止重复提交
                            $("h4").text("正在查询...");
                            $("#btn").attr('disabled','disabled');
                        },
                        success: function (data) {
                            console.log(data);
                            content = [];
                            head="<tr>\n" +
                                 "<th>编号</th>\n" +
                                "<th>CAS</th>\n" +
                                "<th>标题</th>\n" +
                                "<th>百度排名</th>\n" +
                                "<th>平台点击量</th>\n" +
                                "<th>排名链接</th>\n" +
                                "</tr>";

                            for(var i=0;i<data.length;i++){
                                if(data[i].status==200){
                                    html ="<tr>"+"<td>"+(i+1)+"</td>"+"<td class='cas'>"+data[i].keyword+"</td>"+"<td class='total'>"+data[i].title+"</td>"+"<td class='cas'>"+data[i].score+"</td>"+"<td class='cas'>"+data[i].total+"</td>"+"<td class='cas'>"+data[i].url+"</td>"+"</tr>";
                                    content.push(html)
                                }else {
                                    alert(data[0].message)
                                }
                            }
                            if(content.length>0){
                                console.log(content)
                                $("thead").html(head);
                                $("tbody").html(content.join("\n"));
                                console.log(content.join("\n"))
                            } else {
                                console.log(content.length);
                                alert("没有查询到数据")
                            }
                        },
                        complete: function () {
                            $("#btn").removeAttr("disabled");
                            $("h4").text("Success!")
                            alert("查询成功！")
                        },
                    })

                }else {
                    alert("输入为空！")
                }
            }
        })



{% endblock %}
